/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto';
  color: #cecdce;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #cecdce;
}

a:hover {
  text-decoration: underline;
  color: #cecdce;
}

button {
  border: 0;
}

/**/

#page-container {
  display: flex;

  width: 100%;
  height: 100%;
}

aside {
  width: 33%;
  background: #282a36;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-right: 1px solid #cecdce;
  text-align: center;
}

.pages-anchor-list {
  font-size: 1.25rem;
  font-weight: 300;
}

.pages-anchor-list li + li {
  margin-top: 1rem;
}

.pages-anchor-list a.active {
  font-weight: bold;
}

.social-contact-list {
  width: 100%;
}

.social-contact-list ul {
  display: flex;
  justify-content: space-around;
}

.social-contact-list i {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  background: #191921;
  text-align: center;
  padding: 4rem;

  overflow: auto;
}

#profile-image {
  width: 100px;
  height: 100px;
}

/* Mobile rules */
@media (max-width: 880px) {
  :root {
    font-size: 87.5%;
  }

  #page-container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
}