/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: #cecdce;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #cecdce;
}

a:hover {
  text-decoration: underline;
  color: #cecdce;
}

button {
  border: 0;
}

/**/

.pageContainer {
  display: flex;

  width: 100vw;
  height: 100vh;
}

aside {
  width: 33%;
  background: #282a36;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-right: 1px solid #cecdce;
  text-align: center;
}

.listPageLinks {
  font-size: 1.25rem;
  font-weight: 300;
}

.listPageLinks li + li {
  margin-top: 1rem;
}

.listPageLinks a.active {
  font-weight: bold;
}

.listSocialLinks {
  width: 100%;
}

.listSocialLinks ul {
  display: flex;
  justify-content: space-around;
}

.listSocialLinks i {
  font-size: 2rem;
}

main {
  display: flex;
  align-items: center;

  background: #191921;
  text-align: center;
  padding: 4rem;
}

main img {
  border-radius: 50%;
}

main h1 {
  font-size: 1.75rem;
}

main h2 {
  font-size: 1.5rem;
}

main p {
  font-size: 1.25rem;
  font-weight: 300;
}